<section class="breadcrumb-section">
  <div class="row">
    <div class="content-header-left col-12 breadcrumb-new" *ngIf="breadcrumb">
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let link of breadcrumb.links">
              <a *ngIf="link.isLink" routerLink="{{ link.link }}">{{
                link.name
              }}</a>
              <span *ngIf="!link.isLink">{{ link.name }}</span>
            </li>
          </ol>
        </div>
        <div class="col-6 text-right">
          <button
            class="border-0 bg-transparent filter-btn"
            (click)="SmallModel(savedModelContent, 'list')"
            type="button"
            title=" Saved Filters"
          >
            <i class="feather ft-filter"></i> Saved Filters
          </button>
          <span> / </span>
          <button
            class="border-0 bg-transparent filter-btn"
            (click)="LargeModel(filterModelContent)"
            type="button"
            title="Show Product Filters"
          >
            Show Product Filters +
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Applied Filters -->

<!-- Filterss -->

<ng-template
  class="modal text-left"
  #filterModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-body">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-12">
            <ul
              class="nav nav-tabs _bottom nav-top-border no-hover-bg tabsborder border-bottom-0"
            >
              <ngb-tabset
                class="w-100"
                [destroyOnHide]="destroyOnHidestatus"
                (tabChange)="onTabChange($event)"
              >
                <ngb-tab>
                  <ng-template ngbTabTitle>Product</ng-template>
                  <ng-template ngbTabContent>
                    <div class="row fliters-tabs">
                      <div
                        class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                        *ngFor="
                          let productFilter of productFilterDropDowns;
                          let index = index
                        "
                      >
                        <div>
                          <h5 class="mb-1">
                            <b>{{ productFilter["lableName"] }}</b>
                          </h5>
                          <div class="view-all-filter">
                            <!-- [(ngModel)]="categoryDataList"
                              (onSelectAll)="onSelectAll($event, 'category')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'category')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'category')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'category')" -->
                            <ng-multiselect-dropdown
                              name="{{ productFilter['columnName'] }}"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="
                                dropDownDataList[productFilter['columnName']]
                              "
                              [(ngModel)]="
                                selectedDropDowns[productFilter['columnName']]
                              "
                              (onSelect)="
                                selectDropDownData(
                                  productFilter,
                                  index,
                                  'product'
                                )
                              "
                              (onDeSelect)="
                                selectDropDownData(
                                  productFilter,
                                  index,
                                  'product'
                                )
                              "
                              (onSelectAll)="
                                selectDropDownData(
                                  productFilter,
                                  index,
                                  'product'
                                )
                              "
                              (onDeSelectAll)="
                                selectDropDownData(
                                  productFilter,
                                  index,
                                  'product'
                                )
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>

                      <!-- Old -->
                      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Category</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="category"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="categoryData"
                              [(ngModel)]="categoryDataList"
                              (onSelectAll)="onSelectAll($event, 'category')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'category')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'category')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'category')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>AG</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="agCode"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="agCodeDataList"
                              [data]="agCodeData"
                              (onSelectAll)="onSelectAll($event, 'agCode')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'agCode')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'agCode')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'agCode')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Sub Category</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="subCategory"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="subCategoryDatalist"
                              [data]="subCategoryData"
                              (onSelectAll)="onSelectAll($event, 'subcategory')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'subcategory')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'subcategory')
                              "
                              (onDeSelect)="
                                onItemDeSelect($event, 'subcategory')
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Family Name</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="family"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="familyDataList"
                              [data]="familyData"
                              (onSelectAll)="onSelectAll($event, 'family')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'family')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'family')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'family')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Setting</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="setting"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="settingDataList"
                              [data]="settingData"
                              (onSelectAll)="onSelectAll($event, 'setting')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'setting')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'setting')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'setting')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Design No</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="design"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="designDataList"
                              [data]="designData"
                              (onSelectAll)="onSelectAll($event, 'design')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'design')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'design')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'design')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Carats</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="carat"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="caratDataList"
                              [data]="caratData"
                              (onSelectAll)="onSelectAll($event, 'carat')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'carat')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'carat')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'carat')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Sale Price</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="salePrice"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="salePriceDataList"
                              [data]="salePriceData"
                              (onSelectAll)="onSelectAll($event, 'salePrice')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'salePrice')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'salePrice')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'salePrice')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Model Id</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="modelId"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="modelIdDataList"
                              [data]="modelIdData"
                              (onSelectAll)="onSelectAll($event, 'modelId')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'modelId')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'modelId')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'modelId')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Quality</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="quality"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [(ngModel)]="qualityDataList"
                              [data]="qualityData"
                              (onSelectAll)="onSelectAll($event, 'quality')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'quality')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'quality')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'quality')"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>Location</ng-template>
                  <ng-template ngbTabContent>
                    <div class="row fliters-tabs">
                      <div
                        class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                        *ngFor="
                          let locationFilter of locationFilterDropDowns;
                          let index = index
                        "
                      >
                        <div>
                          <h5 class="mb-1">
                            <b>{{ locationFilter["lableName"] }}</b>
                          </h5>
                          <div class="view-all-filter">
                            <!-- [(ngModel)]="categoryDataList"
                              (onSelectAll)="onSelectAll($event, 'category')"
                              [disabled]="disabled"
                              (onSelect)="onItemSelect($event, 'category')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'category')
                              "
                              (onDeSelect)="onItemDeSelect($event, 'category')" -->
                            <ng-multiselect-dropdown
                              name="{{ locationFilter['columnName'] }}"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="
                                dropDownDataList[locationFilter['columnName']]
                              "
                              [(ngModel)]="
                                selectedDropDowns[locationFilter['columnName']]
                              "
                              (onSelect)="
                                selectDropDownData(
                                  locationFilter,
                                  index,
                                  'location'
                                )
                              "
                              (onDeSelect)="
                                selectDropDownData(
                                  locationFilter,
                                  index,
                                  'location'
                                )
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Region</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="region"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="regionData"
                              [disabled]="disabled"
                              (onSelectAll)="onSelectAll($event, 'region')"
                              [(ngModel)]="selectedregionDatalist"
                              (onSelect)="onItemSelect($event, 'region')"
                              (onDeSelect)="onItemDeSelect($event, 'region')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'region')
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>State</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="state"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="stateData"
                              [(ngModel)]="selectedStateDatalist"
                              [disabled]="disabled"
                              (onSelectAll)="onSelectAll($event, 'state')"
                              (onSelect)="onItemSelect($event, 'state')"
                              (onDeSelect)="onItemDeSelect($event, 'state')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'state')
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>City</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="stLocation"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="stLocationData"
                              [(ngModel)]="selectedLocationDatalist"
                              [disabled]="disabled"
                              (onSelectAll)="onSelectAll($event, 'location')"
                              (onSelect)="onItemSelect($event, 'location')"
                              (onDeSelect)="onItemDeSelect($event, 'location')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'location')
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2">
                        <div>
                          <h5 class="mb-1"><b>Store Name & Code</b></h5>
                          <div class="view-all-filter">
                            <ng-multiselect-dropdown
                              name="stName"
                              [placeholder]="'View All'"
                              [settings]="dropdownSettings"
                              [data]="stStoreData"
                              [(ngModel)]="selectedStoreCodeDatalist"
                              [disabled]="disabled"
                              (onSelectAll)="onSelectAll($event, 'store')"
                              (onSelect)="onItemSelect($event, 'store')"
                              (onDeSelect)="onItemDeSelect($event, 'store')"
                              (onDeSelectAll)="
                                onDeSelectAllItems($event, 'store')
                              "
                            >
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <div class="filter-apply-btns">
                <button
                  class="btn btn-danger ml-1"
                  type="button"
                  title="Clear"
                  (click)="clearFilterFields()"
                >
                  <i class="feather ft-x"></i> Clear
                </button>
                <button
                  class="btn btn-success ml-1"
                  type="button"
                  title="Save"
                  (click)="SmallModel(saveModelContent, 'new')"
                  *ngIf="editFilterId == 0"
                >
                  <i class="feather ft-bookmark"></i> Save
                </button>
                <button
                  class="btn btn-success ml-1"
                  type="button"
                  title="Update Filter"
                  (click)="saveFilter()"
                  *ngIf="editFilterId != 0"
                >
                  <i class="feather ft-bookmark"></i> Update Filter
                </button>
                <button
                  class="btn btn-primary ml-1"
                  type="button"
                  title="Apply Now"
                  (click)="getDataFromFilter()"
                  aria-label="Close"
                  *ngIf="editFilterId == 0"
                >
                  Apply Now
                </button>
              </div>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- Save Filter -->
<ng-template
  class="modal text-left"
  #saveModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6 id="myModalLabel23">Save Filter</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          id="saveFilter"
          [(ngModel)]="filterName"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-outline-success"
          type="button"
          title="Save"
          (click)="saveFilter()"
          style="padding: 8px 10px !important"
        >
          Save Filter
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!-- Saved Filters -->
<ng-template
  class="modal text-left"
  #savedModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6 id="myModalLabel23">My Filters</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="saved-filters">
        <ul *ngIf="filterList && filterList.length > 0">
          <li *ngFor="let filter of filterList; let i = index">
            <a href="javascript:void(0)" class="text-secondary">
              <div class="custom-control custom-radio d-inline-block pl-0">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="reportRadio"
                  id="reportRadio{{ i }}"
                  [value]="filter['filter_id']"
                  [checked]="selectedFilterId == filter['filter_id']"
                  (click)="changeFilterSelection($event)"
                />
                <label class="custom-control-label" for="reportRadio{{ i }}">{{
                  filter["filter_name"]
                }}</label>
              </div>
            </a>
            <span>
              <button
                type="button"
                class="btn btn-icon btn-outline-primary ml-1"
                title="Edit"
                (click)="
                  editFilter(
                    filterModelContent,
                    filter['filter_id'],
                    filter['filter_name']
                  )
                "
              >
                <i class="feather ft-edit"></i>
              </button>
              <button
                type="button"
                class="btn btn-icon btn-outline-danger ml-1"
                title="Delete"
                (click)="removeFilter(filter['filter_id'])"
              >
                <i class="feather ft-delete"></i>
              </button>
            </span>
            <div class="clearfix"></div>
          </li>
        </ul>
        <h2 *ngIf="filterList && filterList.length == 0">No List Found!</h2>
      </div>
    </div>
  </div>
</ng-template>
