<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4
                      class="font-large-2 text-bold-400"
                      *ngIf="pendingwidthCount !== undefined"
                    >
                      {{ pendingwidthCount }}
                    </h4>
                    <!-- <p class="blue-grey lighten-2 mb-0">Depth</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="Object.keys(filterJson).length > 0">
          <div class="card">
            <div class="card-body filter_row">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Applied Filters</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Clear all"
                  (click)="clearAllFilter()"
                >
                  Clear all
                </button>
              </div>
              <ul>
                <!--Brand-->
                <li class="">
                  Brand:
                  <span> ABC</span>
                </li>
                <li class="">
                  Gender:
                  <span> XYZ</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1 py-1">
        <div
          class="card-header px-0"
          *ngIf="tableRows && tableRows.length == 0"
        >
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns ibtt-btns d-block mb-1 pt-2">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Reviewing Buffer</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>

            <div
              class="table table-striped table-nobordered add-rows"
              *ngIf="tableRows.length > 0"
            >
              <table datatable [dtOptions]="dtOptions" class="table-borderless">
                <thead>
                  <tr>
                    <th>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAll"
                        />
                        <label
                          class="custom-control-label"
                          for="selectAll"
                        ></label>
                      </span>
                    </th>
                    <th></th>
                    <!-- <ng-container > -->
                    <th *ngFor="let col of tableColumns">
                      {{ col["LabelName"] }}
                    </th>
                    <!-- </ng-container> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableRows; let i = index">
                    <td>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="select{{ i }}"
                        />
                        <label
                          class="custom-control-label"
                          for="select{{ i }}"
                        ></label>
                      </span>
                    </td>
                    <td>
                      <span>
                        <button
                          class="depth-expand-btn"
                          (click)="openModal(widthModelContent, row)"
                          type="button"
                        >
                          +
                        </button>
                      </span>
                    </td>
                    <td *ngFor="let col of tableColumns">
                      {{ row[col["COLUMN_NAME"]] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
<!-- Modal -->
<!-- <ng-template
  class="modal text-left"
  #widthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p class="d-block mr-2">AG: <span>B2_1.5L_2.25L</span></p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Store: <span>KOC</span></p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Total Valid Options available in Origin: <span>5</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Options Required: <span>3</span></p>
        </div>
        <div class="col-12">
          <div class="table table-striped table-bordered add-rows">
            <ngx-datatable
              class="bootstrap depth-table"
              [sortType]="'multi'"
              [headerHeight]="50"
              [limit]="4"
              [footerHeight]="40"
              [rowHeight]="40"
              [rows]="rowWidth"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column name="User Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectUser{{ rowIndex }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectUser{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="System Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectSystem{{ rowIndex }}"
                      [checked]="rowIndex <= 2 ? true : false"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectSystem{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Modal Stone" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.modalStone }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Sale Ranking" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.saleRanking }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origin Stock" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.originStock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button
          type="button"
          class="btn btn-success btn-min-width"
          title="Submit"
          (click)="d('Cross click')"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template
  class="modal text-left"
  #widthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p class="d-block mr-2">AG: <span>B2_1.5L_2.25L</span></p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Store: <span>KOC</span></p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Total Valid Options available in Origin: <span>5</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Options Required: <span>3</span></p>
        </div>
        <div class="col-12">
          <div class="table table-striped table-bordered add-rows">
            <ngx-datatable
              class="bootstrap depth-table"
              [sortType]="'multi'"
              [headerHeight]="50"
              [limit]="4"
              [footerHeight]="40"
              [rowHeight]="40"
              [rows]="rowWidth"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column name="User Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectUser{{ rowIndex }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectUser{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="System Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectSystem{{ rowIndex }}"
                      [checked]="rowIndex <= 2 ? true : false"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectSystem{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Modal Stone Name" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.modalStoneName }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Sale Ranking" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.saleRanking }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origin Stock" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.originStock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button
          type="button"
          class="btn btn-success btn-min-width"
          title="Submit"
          (click)="d('Cross click')"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>
