<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4
                      class="font-large-2 text-bold-400"
                      *ngIf="pendingdepthCount !== undefined"
                    >
                      {{ pendingdepthCount }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="Object.keys(filterJson).length > 0">
          <div class="card">
            <div class="card-body filter_row">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Applied Filters</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Clear all"
                  (click)="clearAllFilter()"
                >
                  Clear all
                </button>
              </div>
              <ul>
                <!--Brand-->
                <li class="">
                  Brand:
                  <span> ABC</span>
                </li>
                <li class="">
                  Gender:
                  <span> XYZ</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <div
          class="card-header px-0"
          *ngIf="tableRows && tableRows.length == 0"
        >
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns ibtt-btns d-block mb-1 pt-2">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Reviewing Buffer</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>

            <div
              class="table table-striped table-nobordered add-rows"
              *ngIf="tableRows.length > 0"
            >
              <table datatable [dtOptions]="dtOptions" class="table-borderless">
                <thead>
                  <tr>
                    <th>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAll"
                        />
                        <label
                          class="custom-control-label"
                          for="selectAll"
                        ></label>
                      </span>
                    </th>
                    <th></th>
                    <!-- <ng-container > -->
                    <th *ngFor="let col of tableColumns">
                      {{ col["LabelName"] }}
                    </th>
                    <!-- </ng-container> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableRows; let i = index">
                    <td>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="select{{ i }}"
                        />
                        <label
                          class="custom-control-label"
                          for="select{{ i }}"
                        ></label>
                      </span>
                    </td>
                    <td>
                      <span>
                        <button
                          class="depth-expand-btn"
                          (click)="
                            (i + 1) % 2 == 0
                              ? openModal(chartModelContent, i + 1)
                              : openModal(depthModelContent, i + 1)
                          "
                          type="button"
                        >
                          +
                        </button>
                      </span>
                    </td>
                    <td *ngFor="let col of tableColumns">
                      {{ row[col["COLUMN_NAME"]] }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
<!-- Modal -->

<ng-template
  class="modal text-left"
  #chartModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 mb-2">
          <label for="" class="d-inline-block mr-2">View</label>
          <ng-select
            class="d-inline-block w-50"
            [items]="singleSelectArray"
            [searchable]="false"
            bindLabel="item_text"
            aria-placeholder="View"
            placeholder="Select Data"
            [(ngModel)]="singlebasicSelected"
          >
          </ng-select>
        </div>
      </div>
      <div class="lineStackedArea" id="depth-chart">
        <canvas
          height="250"
          baseChart
          class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #depthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-block mr-2">Category: <span>Category1</span></p>
          <p class="d-block mr-2">Location: <span>WH1</span></p>
          <p class="d-block mr-2">SKU Description: <span>Fabric1</span></p>
          <p class="d-block mr-2">Total length Available: <span>50</span></p>
        </div>
        <div class="col-12">
          <form class="w-100">
            <div class="input-group mb-1">
              <label for="length" class="d-block w-100">Length required</label>
              <input
                type="text"
                class="form-control"
                placeholder="Length required"
                name="length"
                id="length"
              />
            </div>
            <div class="input-group mb-1">
              <label for="comments" class="d-block w-100">Comments</label>
              <textarea
                class="form-control"
                style="resize: none !important"
                id="comments"
                name="comments"
                rows="3"
                placeholder="Comments"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-success btn-min-width float-right"
              title="Submit"
              (click)="d('Cross click')"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
