/* Datatable CSS */
:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-header
  .datatable-header-cell
  .datatable-header-cell-label {
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
  color: #6b6f82;
}
:host ::ng-deep .ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-right {
  position: relative;
  height: 50px !important;
}

:host ::ng-deep .datatable-icon-right:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-skip:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-left:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-left:before {
  content: "\2039";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-prev:before {
  content: "\00AB";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-right:before {
  content: "\203A";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-skip:before {
  content: "\00BB";
  font-size: x-large;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  ul[_ngcontent-c11]
  li[_ngcontent-c11]:not(.disabled):hover
  a[_ngcontent-c11] {
  background-color: #d4d2e7;
  font-weight: bold;
  font-size: larger;
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  height: 32px;
  min-width: 34px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  padding-top: 3px;
  text-decoration: none;
  vertical-align: bottom;
  color: #7c8091;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 14px;
  line-height: 9px;
  padding: 0px 08px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  background-color: #545454;
  font-weight: bold;
  color: white;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  background-color: #545454;
  font-weight: bold;
  color: white;
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-footer {
  background: #727e8e;
  color: #ededed;
  margin-top: -1px;
  /* overflow: inherit; */
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-header {
  font-weight: bold;
  height: unset !important;
  overflow: inherit;
}

:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager {
  flex: 0 0 0%;
}

:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager {
  display: flex;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
:host
  ::ng-deep
  .ngx-datatable
  .datatable-footer
  .selected-count
  .datatable-pager {
  flex: 0 0 0%;
}

:host ::ng-deep .ngx-datatable {
  display: -webkit-box;
}
.depth-expand-btn {
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  color: #000;
  margin: -5px 0px 0px;
}
.depth-expand-btn:focus {
  outline: 0;
}
::ng-deep .progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #eee;
  border-radius: 8px;
  margin: 5px 0px;
}

.column-setting .open-left .dropdown-item:focus {
  outline: 0;
}
.column-setting .open-left .dropdown-item.active,
.column-setting .open-left .dropdown-item:active {
  background-color: #f4f5fa !important;
  color: #2a2e30 !important;
}
.column-setting .switchery {
  margin-right: 10px !important;
}
::ng-deep .column-setting .switchery .switch.switch-small small {
  width: 15px !important;
  height: 15px !important;
  right: calc(100% - 16px);
}
::ng-deep .column-setting .switchery .switch.switch-small {
  height: 15px !important;
  border-radius: 15px !important;
  vertical-align: text-bottom;
}
::ng-deep .column-setting .switchery .switch.checked small {
  right: 0 !important;
}

#depth-chart canvas {
  height: 250px !important;
}
@media (max-width: 767px) {
  .depth-btns .w-50 {
    margin: 5px 0px;
    text-align: left !important;
  }
  .depth-btns .ml-1 {
    margin-left: 0px !important;
    margin-right: 10px !important;
  }
}
