<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4
                      class="font-large-2 text-bold-400"
                      *ngIf="pendingibtt !== undefined"
                    >
                      {{ pendingibtt }}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="filterJson != ''">
        <div class="card">
          <div class="card-body filter_row">
            <div
              ngbDropdown
              class="d-inline-block w-50 column-setting"
              [autoClose]="false"
            >
              <h2 class="card-title">Applied Filters</h2>
            </div>
            <div class="w-50 d-inline-block text-right">
              <button
                type="button"
                class="btn btn-outline-danger btn-min-width ml-1"
                title="Clear all"
                (click)="clearAllFilter()"
              >
                Clear all
              </button>
            </div>
            <ul>
              <!--Brand-->
              <li class="">
                Brand:
                <span> ABC</span>
              </li>
              <li class="">
                Gender:
                <span> XYZ</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <div
          class="card-header px-0"
          *ngIf="tableRows && tableRows.length == 0"
        >
          <h2 class="card-title">Reviewing Buffer</h2>
          <h1>No Records Found!</h1>
        </div>
        <ng-container mCardBody *ngIf="tableRows && tableRows.length > 0">
          <ng-container mCardBody>
            <div class="btn-group depth-btns ibtt-btns d-block mb-1 pt-2">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <h2 class="card-title">Reviewing Buffer</h2>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>
            <div class="table table-striped add-rows table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table-borderless">
                <thead>
                  <tr>
                    <th>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAll"
                        />
                        <label
                          class="custom-control-label"
                          for="selectAll"
                        ></label>
                      </span>
                    </th>
                    <th></th>
                    <ng-container *ngFor="let col of tableColumns">
                      <th>
                        {{ col.LabelName }}
                      </th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableRows; let i = index">
                    <td>
                      <span class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="select{{ i }}"
                        />
                        <label
                          class="custom-control-label"
                          for="select{{ i }}"
                        ></label>
                      </span>
                    </td>
                    <td>
                      <span>
                        <button
                          class="depth-expand-btn"
                          (click)="openModal(ibttModalContent, row)"
                          type="button"
                        >
                          +
                        </button>
                      </span>
                    </td>
                    <td *ngFor="let col of tableColumns">
                      <ng-container>
                        {{ row[col["COLUMN_NAME"]] }}
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
<!-- Modal -->

<ng-template
  class="modal text-left"
  #ibttModalContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-inline-block mr-2">Store: <span>Jayanagar</span></p>
          <p class="d-inline-block mr-2">SKU: <span>SKU0129</span></p>
          <p class="d-inline-block mr-2">Stock Needed: <span>7</span></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="clusterSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Cluster"
                placeholder="Cluster"
              >
              </ng-select>
            </div>
            <div class="col-12">
              <button class="btn btn-primary btn-min-width" type="button">
                Apply
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse-icon accordion-icon-rotate left add-cluster">
            <div class="">
              <a
                data-toggle="collapse"
                class="text-primary"
                (click)="addNewCluster = !addNewCluster"
                [attr.aria-expanded]="addNewCluster"
                aria-controls="addNewCluster"
                >Save New Cluster</a
              >
            </div>
            <div id="addNewCluster" [ngbCollapse]="!addNewCluster">
              <fieldset>
                <div class="input-group" style="margin-top: 5px">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Cluster Name"
                    aria-describedby="button-addon4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Save</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table table-striped table-bordered add-rows mt-2">
            <ngx-datatable
              class="bootstrap"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="0"
              [limit]="15"
              [rowHeight]="50"
              [rows]="clusterDonerData"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              [selectionType]="'checkbox'"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                <ng-template
                  ngx-datatable-cell-template
                  let-row="row"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectRow{{ row.Id }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn(row, $event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectRow{{ row.Id }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ng-container *ngFor="let donerData of clusterDonerColumns">
                <ngx-datatable-column
                  [flexGrow]="1"
                  *ngIf="donerData['COLUMN_NAME'] != 'Replenish_Needed'"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>{{ donerData["LabelName"] }}</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row[donerData["COLUMN_NAME"]] }}
                  </ng-template>
                  <ng-container
                    *ngIf="donerData['COLUMN_NAME'] == 'Replenish_Needed'"
                  >
                  </ng-container>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [flexGrow]="1"
                  *ngIf="donerData['COLUMN_NAME'] == 'Replenish_Needed'"
                >
                  <ng-template ngx-datatable-header-template>
                    <span>{{ donerData["LabelName"] }}</span>
                  </ng-template>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>
                      <select
                        name=""
                        id=""
                        class="form-control w-100"
                        style="height: 30px"
                        [(ngModel)]="replenishNeeded[row.Id]"
                        (change)="changeReplenishNeeded(row.Id)"
                        [disabled]="
                          replenishNeeded[row.Id] == undefined ||
                          replenishNeeded[row.Id] == null
                        "
                      >
                        <option
                          [value]="i"
                          *ngFor="
                            let d of genArray(row.Replenish_Needed);
                            let i = index
                          "
                        >
                          {{ i }}
                        </option>
                      </select>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ng-container>
            </ngx-datatable>
          </div>
        </div>
        <div class="col-12">
          <div class="text-right">
            <button
              type="button"
              class="btn btn-success btn-min-width ml-1"
              title="Approve"
              (click)="getApproveRejectIbtt(1)"
              [disabled]="finalRecommend.length == 0"
            >
              Approve
            </button>
            <!-- <button
              type="button"
              class="btn btn-danger btn-min-width ml-1"
              title="Reject"
              (click)="getApproveRejectDepth(0)"
            >
              Reject
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
